/* You can add global styles to this file, and also import other style files */

@import '~font-awesome/css/font-awesome.css';
@import '~roboto-fontface/css/roboto/roboto-fontface.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
html,
body,
.page {
    height: 100%;
    width: 100%;
}

* {
    font-family: Roboto;
    color: #343434;
    margin: 0;
    padding: 0;
}

* .fa {
    color: inherit;
    font-family: FontAwesome !important;
}

.shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.cursor-pointer {
    cursor: pointer;
}

p {
    font-size: 16px;
    margin: 0;
}

.font-small {
    font-size: 13px;
    margin: 0;
}

.font-normal {
    font-size: 16px;
}

.font-normal1 {
    font-size: 14px;
}

.font-weight-medium {
    font-weight: 500;
}

.font-weight-normal {
    font-weight: 400;
}

.text-active {
    color: #0277bd;
}

.page-header {
    height: 60px;
}

.page-content {
    height: calc(100% - 60px);
}

.flex-grow {
    flex: 1 0 auto;
}