.question-type-select {
    width: 200px;
}

.select-input {
    border-color: transparent;
    border-bottom-color: #ddd;
}

.select-input:focus,
.select-input:active {
    outline: none;
    border-bottom-color: #ddd;
}