<div *ngIf="section" class="w-100 d-flex flex-column flex-stretch">
  <div class="d-flex justify-content-between">
    <span class="text-muted">Section {{section.id}}</span>
    <span class="text-muted cursor-pointer h5" (click)="close()"><em class="fa fa-times"></em></span>
  </div>
  <inline-text-edit [text]="section.title" [placeholder]="'Enter Section Title'" [inputClass]="'h5'" (textChange)="sectionTitleChange($event)"></inline-text-edit>
  <inline-text-edit [text]="section.description" [placeholder]="'Enter Section Description'" (textChange)="sectionDescriptionChange($event)"></inline-text-edit>
  <div class="w-100 text-right flex-fit">
    <span class="text-muted cursor-pointer" (click)="addQuestion()"><em class="fa fa-plus mr-2 text-success"></em>Add
      Question</span>
  </div>
  <div *ngIf="section.questions" class="d-flex flex-column flex-stretch">
    <app-question-tabs></app-question-tabs>
    <div class="flex-stretch p-3 overflow-auto">
      <app-question-editor></app-question-editor>
    </div>
  </div>
</div>