/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
* {
    font-size: 14px;
}

html,
body {
    height: 100%;
    width: 100%;
}

.page {
    width: 100%;
    height: 100%;
}

.outline-none {
    outline: none;
}

.cursor-pointer {
    cursor: pointer;
}

.font-small {
    font-size: 12px;
}

.font-normal {
    font-size: 16px;
}

.font-light {
    color: #ccc;
}

.font-weight-medium {
    font-weight: 500;
}

.flex-stretch {
    flex: 1 1 auto !important;
}

.flex-fix {
    flex: 0 0 auto !important;
}

.select-input {
    border-color: transparent;
    border-bottom-color: #ddd;
}

.select-input:focus,
.select-input:active {
    outline: none;
    border-bottom-color: #ddd;
}

.overflow-auto {
    overflow: auto;
}

/******************************************************************************/

/* Below css is required for Ng2-Dragula module used for dag and drop feature */

/******************************************************************************/

/* in-flight clone */

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
}

/* high-performance display:none; helper */

.gu-hide {
    left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

/* added to the source element while its mirror is dragged */

.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}