<div class="page d-flex flex-column">

  <div class="d-flex flex-column px-4 py-2 bg-light border-bottom flex-fix">
    <div class="mb-1">
      <span class="text-muted cursor-pointer" (click)="goBack()"><em class="fa fa-arrow-circle-o-left mr-2"></em>Back</span>
    </div>
    <div class="d-flex">
      <div class="d-flex flex-column w-75">
        <inline-text-edit [text]="survey.name" [placeholder]="'Enter Survey Title'" [inputClass]="'h4'" (textChange)="surveyNameChange($event)"></inline-text-edit>
        <inline-text-edit [text]="survey.description" [placeholder]="'Enter Survey Description'" (textChange)="surveyDescriptionChange($event)"></inline-text-edit>
      </div>
      <div class="w-25 text-right">
        <button class="btn btn-primary btn-sm" [class.disabled]="!isChanged"><em class="fa fa-floppy-o mr-2"></em>Save</button>
      </div>
    </div>
  </div>

  <div class="d-flex flex-stretch">
    <div class="w-25 border-right d-flex flex-column flex-stretch">
      <div class="p-2 d-flex justify-content-between border-bottom flex-fit">
        <span class="h6 m-0">Sections</span>
        <span class="text-muted cursor-pointer font-normal" (click)="addNewSection()"><em class="fa fa-plus mr-2 text-success"></em>Add
          Section</span>
      </div>
      <div class="flex-stretch" class="border-bottom overflow-auto">
        <app-section-list [sections]="survey.sections" (select)="sectionSelect($event)"></app-section-list>
      </div>
    </div>
    <div class="w-75 d-flex flex-column flex-stretch px-3 py-2">
      <app-section-editor *ngIf="currentSection" [section]="currentSection" (change)="sectionChange()"></app-section-editor>
    </div>
  </div>
</div>